body, html {
    font: 12pt sans-serif;
    margin: 0px;
    height: 100%;
    padding: 0px;    
}

.north {
    width: 100%;
    color: #fff;
    height: 50px;
    background: gray;
    text-align: center;
}

.north h1 {
    margin: 0px;
}

.main {
    height: 100%;
    background: yellow;
    position: relative;
}

.west {
    top: 0;
    bottom: 0;
    float: left;
    width: 300px;
    height: 100%;
    background: orange;
    position: relative;
    border-right: 5px solid #888;
}

.east {
    text-indent: 20px;
    margin-left: 205px;
}

.east img {
    float: right;
}

.east p {
    margin: 0px;
    padding: 10px 0px;
}

.south {
    bottom: 0;
}

.font {
    font-weight: 600;
}

.clear {
    clear: both;
}
